In [ ]:
# import pandas as pd
import pandas as pd

# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']

# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# print the output
df

In [ ]:
import pandas as pd

# initialise data of lists
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade']},{'Age':[20, 21, 19, 18, 20]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output
df

In [ ]:
# Import pandas package
import pandas as pd

# Define a dictionary containing employee data
data = {'Name': ['Clem', 'Prince', 'Edward', 'Adele'],
       'Age': [27, 24, 22, 32],
       'Address': ['Abuja', 'Kano', 'Minna', 'Lagos'],
       'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select two columns
df[['Name', 'Qualification']]

In [ ]:
import pandas as pg

# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
       'Age':[27, 24, 22, 32],
       'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
       'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select first row
df.iloc[0]

In [ ]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("employee_records.csv")

#print excel
data

In [ ]:
import pandas as pd

data = pd.read_csv("employee_records.csv")

df =data.iloc[0]

df

In [ ]:
import pandas as pd

data = pd.read_csv("employee_records.csv")

df =data.head(1)

df

In [ ]:
import pandas as pd

dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
       'degree': ["MBA", "BCA", "M.Tech", "MBA"],
       'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

for i,j in df.iterrows():
    print(i, j)
    print()

In [ ]:
import pandas as pd

dict = {'name':["Bello", "Kamra", "Ugochi", "David"],
       'degree':["MBA", "BCA", "M.Tech", "MBA"],
       'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

columns = list(dict)

for i in columns:
    
    print (dict[i][2])

In [ ]:
import pandas as pd

records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
          'degree':["MBA", "BCA", "M.Tech", "MBA"],
          'score':[90, 40, 80, 98]}

df = pd.DataFrame(records)

df.to_csv('record.csv')

In [ ]:
import numpy

In [ ]:
import numpy as np

In [ ]:
import numpy as np

print(np.__version__)

In [ ]:
import numpy as np

arr_ = np.array([101,201,301,401,501])

print(arr_)

print(type(arr_))

In [2]:
import numpy as np

namelist = ['Angel', "Shemi", "Marvel", "Linda"]

ageTuple = (41, 32, 21, 19)

gradeDict = {"CSC102": 89, "MTH 102": 77, "CHM 102": 69, "GST 102": 99}

arr_namelist = np.array(namelist)

arr_ageTuple = np.array(ageTuple)

arr_gradeDict = np.array(gradeDict)

print(arr_namelist)
print(arr_ageTuple)
print(arr_gradeDict)

['Angel' 'Shemi' 'Marvel' 'Linda']
[41 32 21 19]
{'CSC102': 89, 'MTH 102': 77, 'CHM 102': 69, 'GST 102': 99}

In [4]:
import numpy as np

classNum = int(input("How many students are in the CSC 102 class?"))

class_arr = np.array(classNum)

if (class_arr == 1):
    print("There is only", class_arr, "student in CSC 102 class" )
else:
    print("There are", class_arr, "students in CSC 102 class")

How many students are in the CSC 102 class?70
There are 70 students in CSC 102 class

In [6]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [8]:
import numpy as np

arr = np.array([[1, 2, 3], 4, 5, 6])

print(arr)

[list([1, 2, 3]) 4 5 6]

C:\Users\USER\AppData\Local\Temp\ipykernel_8800\3971433623.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr = np.array([[1, 2, 3], 4, 5, 6])

In [10]:
import numpy as np
 arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])
print(arr)

IndentationError: unexpected indent (611624839.py, line 2)