In [3]:
names = {"Girls":[ "Samantha", "Jada", "Jane",  "Claire", "Elizabeth", "Mary", "Susan", "Waje", "Taibat", "Lilian"],
         "Boys" :["Charles",  "Jude", "James", "Kelvin", "Biodun",    "Wale", "Kunle", "Matthew", "Tom", "Kayode"]}

age = {"Girls": [17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
       "Boys": [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]}

height = {"Girls": [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
          "Boys": [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7,]}

scores = {"Girls": [80, 85, 70, 60, 76, 66, 87, 95, 50, 49],
          "Boys": [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]}

print("Name     |       Age      | Height  | Scores")
for i in range(10):
        print(names ["Girls"][i], "|", age["Girls"][i], "|", height["Girls"][i],"|", scores["Girls"][i])
        print(names ["Boys"][i],  "|", age["Boys"][i],  "|",  height["Boys"][i] ,"|", scores["Boys"][i])

Name     |       Age      | Height  | Scores
Samantha | 17 | 5.5 | 80
Charles | 19 | 5.7 | 74
Jada | 16 | 6.0 | 85
Jude | 16 | 5.9 | 87
Jane | 17 | 5.4 | 70
James | 18 | 5.8 | 75
Claire | 18 | 5.9 | 60
Kelvin | 17 | 6.1 | 68
Elizabeth | 16 | 5.6 | 76
Biodun | 20 | 5.9 | 66
Mary | 18 | 5.5 | 66
Wale | 19 | 5.5 | 78
Susan | 17 | 6.1 | 87
Kunle | 16 | 6.1 | 87
Waje | 20 | 6.0 | 95
Matthew | 18 | 5.4 | 98
Taibat | 19 | 5.7 | 50
Tom | 17 | 5.8 | 54
Lilian | 17 | 5.5 | 49
Kayode | 19 | 5.7 | 60